body {
    display: flex;
    justify-content: center;
}

.calculator-body {
    display: flex;
    flex-direction: column;
    border: black 2px solid;
    padding: 1.5px;
    margin-top: 200px;;
    width: 247px;
    height: 307px;
    justify-content: center;
    gap: 2px;
}

.first-row {
    display: flex;
    
}

.row {
    display: flex;
    gap: 2px;
}

button {
    height: 60px;
    width: 60px;
    border-radius: 25%;
    font-size: 20px;
}

.operator {
    background-color: cadetblue;
}

.clear {
    background-color:steelblue;
}

#display {
    flex-grow: 3;
    border: black 1px solid;
    font-size: 25px;    
    margin: 2px;
    text-align: end;
    padding: 12px 0;
}